body{
    background-image: url(../img2/fondo.jpg);
}
h1{
    background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
    padding: 10px;
    border-radius: 20px;
    @extend .m;
}
.contenedor{
    display: grid;
    min-height: 100vh;

    grid-template-areas:
        "header   "
        "main  "
        "footer  "
    ;
    .header {
        grid-area: header;
        grid-column-start: 1;
        grid-column-end: -1;
    }
    .main {

        grid-area: main;
    }
    .footer {
        grid-area: footer;
    }
}